.message {
	font-size: 1.2rem;
}

.task {
	display: flex;
	margin-bottom: 1rem;
	font-weight: 900;
	cursor: pointer;
}

.todo {
	display: flex;
	flex-flow: column;
	padding: 3rem;
	width: 60%;
	margin: 0 auto;
}

.tasks {
	display: flex;
	flex-flow: column;
	min-height: 3rem;

}

.complete>.indicator {
	background: seagreen;
}

.complete>.message {
	text-decoration: line-through;
}

.indicator {
	height: 30px;
	margin-left: 1rem;
	width: 20px;
	margin-right: 1rem;
}

.un-complete>.indicator {
	background: lightblue;
}

.complete {
	text-decoration: line-through;
}

ul {
	list-style: none;
}

input {

	height: 2rem;
	font-size: 1.2rem;
	width: 60%;
}