li {
	font-size: 1.2rem;
}

li::before {
	content: ' \25AE';
	margin-right: 0.5rem;
	display: inline;
	font-size: 1.5rem;
	text-decoration: none !important;
}

.un-complete::before {
	color: lightblue;

}

.complete::before {
	color: lightseagreen;
}

.complete {
	text-decoration: line-through;
}

ul {
	list-style: none;
}